html {
    height: 100vh;
}


body {
    font-family: 'Nova Square', cursive;
    margin: 0;
    color:#0f3c9e;
}


h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: 400;
}

.main-header {
    background-color: white;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5em;
    border-bottom: 1px solid #0f3c9e;
    
}

.main-header h1 {
    line-height: 1;
    margin: 0;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header a {
    color: white;
    text-decoration: none;
    justify-content: center;
}

.main-content {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}


.login {
    font-size: large
}
svg{
    width: 60px;
    height: 40px;
    justify-content: center;
    align-items: center;

}

Map{
    height: 80vh;
    width: 80vw;
}

.batPer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 5vw;
    color: #0f3c9e
;
}

.Perc {
    font-size: 20px;
}

.rangeslider {
  margin: 20px 0;
  position: relative;
  background: #e6e6e6;
}
  .rangeslider__fill, .rangeslider__handle {
    position: absolute;
}
 .rangeslider__fill {
    display: block;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
}
  .rangeslider__handle {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute;
}
    .rangeslider__handle :active {
      background: #999;
}

.sliderDiv{
    bottom: 5vh;
}




.rangeslider-horizontal {
  height: 20px;
  border-radius: 10px;
  width: 80vw;
}
.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background: #436280;
  border-radius: 10px;
  top: 0;
}
.rangeslider-horizontal .rangeslider__handle {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  top: -10px;
  background-color: #b3b3b3;
}

.horizontal-slider{
    position: relative;
    top: 9vh;
}




/*.lightBulb svg:onclick {*/
/*    color: yellow;*/
/*}*/

.checkCircleG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    background-color: #a3bad2;
    font-size: .7em;
    font: 13.3333px 'Source Code Pro', monospace, Helvetica;
}

.checkCircleG:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    background-color: #a3bad2;
    font-size: .7em;
    font: 13.3333px 'Source Code Pro', monospace, Helvetica;
}

.checkCircleY {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    background-color: #a3bad2;

    font-size: .7em;
    font: 13.3333px 'Source Code Pro', monospace, Helvetica;
}

.checkCircleY:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height:55px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    background-color: #a3bad2;
    font-size: .7em;
    font: 13.3333px 'Source Code Pro', monospace, Helvetica;
}

.checkCircleR {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    background-color: #a3bad2;
    font-size: .7em;
    font: 13.3333px 'Source Code Pro', monospace, Helvetica;
}

.checkCircleR:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    background-color: #a3bad2;

    font-size: .7em;
    font: 11.3333px 'Source Code Pro', monospace, Helvetica;
}
.uiLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-image: url(https://s-media-cache-ak0.pinimg.com/736x/ab/7e/4c/ab7e4cf7e3341331c6b23801e883eb05.jpg);*/
    height: 69vh;
    position: relative;
    top: 5vh;
}

.warnLights {
    display: flex;
    width: 55px;
    justify-content: flex-end;
    margin: 0;
}

.bottomDisp {
    margin: 20px 0 20px 0;
    width: 85vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 4vh;
}

.topDisp {
    margin: 20px 0 20px 0;
    width: 85vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}


/*.speedometer span{*/
/*    display: flex;*/
/*    flex-direction:column;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    background-color: #0f3c9e;*/
/*    width: 55px;*/
/*    height: 55px;*/
/*    border-radius: 50%;*/
/*    color: white;*/
/*    text-align: center;*/
/*    font: 13.3333px 'Source Code Pro', monospace, Helvetica;*/
/*}*/


/*.tachometer span{*/
/*    display: flex;*/
/*    justify-content: center;*/

/*    flex-direction:column;*/
/*    background-color: #0f3c9e*/
/* ;*/
/*    width: 55px;*/
/*    height: 55px;*/
/*    border-radius: 50%;*/
/*    color: white;*/
/*    text-align: center;*/
/*    font: 13.3333px 'Source Code Pro', monospace, Helvetica;*/
/*}*/


/* MAP CSS */
.map-container {
    max-width: 100%;
    height: 500px;
}

.static-map {
     width: 96vw;
     margin: 0;
}

.distance-matrix {
    display: flex;
    max-width: 100%;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
}

.distance-matrix p {
    font-size: 1em;
    color:  #0f3c9e
;;
}

.distance-matrix p i {
    color: black;
    font-size: 1.8em;
}

.suggestion-list {
    list-style-type: none;
    padding-left: 0;
}

.suggestion-list button {
    color: whitesmoke;
    background-color: #0f3c9e;
    border: none;
    border-radius: 0.2em;
    font-size: 1em;
    cursor: pointer;
    padding: .5em .5em;
    margin-bottom: .2em;
    width: 95vw;
    font-family: inherit;
}

.destination-input {
    width: 100%;
    font-size: 1.5em;
    height: 40px;
    background-color: #ecf2f9;
    font-family: inherit;
    color: #0f3c9e
;
}

.destination-button {
    display: none;
    
}

.buttons-div {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 8vh;
    margin-top: .4em;
}

.buttons-div i {
    font-size: 1.5em;
}

.buttons-div button{
    color: whitesmoke;
    background-color: #0f3c9e;
    border: none;
    border-radius: 0.2em;
    font-size: 1em;
    cursor: pointer;
    padding: .5em .5em;
    margin-bottom: .2em;
    width: 95vw;
    font-family: inherit;
    height: 5em;
}

.mapButton button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#a3bad2;
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    font: 13.3333px 'Source Code Pro', monospace, Helvetica;
}


.mapButton1 button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#a3bad2;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    font: 13.3333px 'Source Code Pro', monospace, Helvetica;
}
.mapButton2 button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#a3bad2;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    font: 13.3333px 'Source Code Pro', monospace, Helvetica;
}
.mapButton3 button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a3bad2;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    font: 13.3333px 'Source Code Pro', monospace, Helvetica;
}
.TimeLeft span{
    text-rendering: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f3c9e;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: white;
    text-align: center;
    border: none;
    font: 13.3333px 'Source Code Pro', monospace, Helvetica;
}

.login-button{
    margin-top: 10vh;
    border: none;
    width: 120px;
    height: 35px;
    background: #a3bad2;
    color: white;
    border-radius: .5em;
    font: 13.3333px 'Source Code Pro', monospace, Helvetica;
    
}


.tripTimer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #436280;
    color: white;
    border-radius: .3em;
    top: 11.5vh;
}

.tripTimer li {
    list-style: none;
}

.Prod {
    height: 50px;
    border-radius: .3em;
    display: flex;
    position: relative;
    left: 5vw;
    justify-content:center;
}


.fa-clock-o:before {
    content: "\f017";
    color: #0f3c9e
;
}

.fa-map-marker:before {
    content: "\f041";
    color: #0f3c9e
;
}

.back {
    width: 15vw!important;
}
.next {
    width: 70vw!important;
    margin-right: 10px;
    overflow: auto;
}

.logo {
    height: 50px;
    border-radius: .3em;
    display: flex;
    position: relative;
    left: 5vw;
    justify-content:center;
    margin: 0;
}


.speedometer span {
	width: 100px;
	height: 55px;
	background: #0f3c9e;
	position: relative;
	color: white;
		display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
.speedometer span:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #0f3c9e;
}
.speedometer span:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #0f3c9e;
}


.tachometer span {
	width: 100px;
	height: 55px;
	background: #0f3c9e;
	position: relative;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
.tachometer span:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #0f3c9e;
}
.tachometer span:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #0f3c9e;
}


.lightBulb{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}
.lightBulb1{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}
.lightBulb1 svg {
    height: 70px;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 0;
    cursor: pointer;
    text-shadow: #f2f2f2;
}

.lightBulb svg {
    height: 70px;
    color:  #ffff00;
    display: flex;
    justify-content: center;
    padding-top: 0;
    cursor: pointer;
    text-shadow: #f2f2f2;
}


.lightBulb svg {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
  cursor: pointer;
}

.lightBulb svg {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0;
}

.lightBulb:nth-child(1) svg {
  color: #ffff00;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  margin: 0;

}

.lightBulb:nth-child(1) svg:hover {
  color: #ffff00;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.lightBulb:hover {
  color: #ffffff;
}


.bulbCon {
	width: 100px;
	height: 55px;
    background: #0f3c9e;
	position: relative;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
.bulbCon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #0f3c9e;
}
.bulbCon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #0f3c9e;
}

.timeBox{
    display: flex;
    width: 80vw;
    height: 12vh;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

.TimeLeft{
    text-align: center;
    
    
}


.counter{
    text-align: center;
}

.numbers {
    text-align: center;
    font-size: 1.2em;
    color: #436280;
}


.backButton {
    color: white !important;
    background-color: #0f3c9e;
    border: none;
    border-radius: 0.2em;
    font-size: 1em;
    cursor: pointer;
    padding: .5em .5em;
    margin-bottom: .2em;
    width: 48vw;
    font-family: inherit;
    position: relative;
    top: 10vh;
    left: 21vw

}

.backButton a{
        text-decoration: none;
        color: white;
}

.smallDesc {
    margin: 0;
    font-size: .8em;
    color: #cccccc;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.checkContainer{
    text-align: center
}

.mapButton3 {
    text-align: center;
}

.mapButton2 {
    text-align: center;
}
.mapButton1{
    text-align: center;
}

.mapButton {
    text-align: center
}

.destLoc {
    font-size: .8em;
    color: #bfbfbf;
    position: relative;
    top: 10vh;
    width: 80vw;
}

.numbers1 {
    text-align: center;
    font-size: 1.2em;
    color: white;
}

.front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8vh;
    text-align: center;
}

.frontTitle {
    color: #436280;
    font-size: 1em;
}