body {
    font-family: Helvetica;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: 400;
}

.main-header {
    background-color: #a6a6a6;
    color: #fff;
    overflow: hidden;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    
}

.main-header h1 {
    line-height: 1;
    margin: 0;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header a {
    color: white;
    text-decoration: none;
    justify-content: center;
}

.main-content {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}


.login {
    font-size: large
}
svg{
    width: 60px;
    height: 40px;
    justify-content: center;
    align-items: center;

}

Map{
    height: 80vh;
    width: 80vw;
}

.batPer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Perc {
    font-size: 20px;
}
.horizontal-slider{
    align-items: flex-stop;
}
.rangeslider {
  margin: 20px 0;
  position: relative;
  background: #e6e6e6;
}
  .rangeslider__fill, .rangeslider__handle {
    position: absolute;
}
 .rangeslider__fill {
    display: block;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
}
  .rangeslider__handle {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute;
}
    .rangeslider__handle :active {
      background: #999;
}

.sliderDiv{
    bottom: 5vh;
}




.rangeslider-horizontal {
  height: 20px;
  border-radius: 10px;
  width: 80vw;
}
.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background: blue;
  border-radius: 10px;
  top: 0;
}
.rangeslider-horizontal .rangeslider__handle {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  top: -10px;
  background-color: gray;
}

.horziontal-slider{
    width: 50%;
}


.lightBulb{
    display: flex;
    justify-content: center;
}
.lightBulb1{
    display: flex;
    justify-content: center;
}
.lightBulb1 svg {
    width:30vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    color: #a6a6a6;
}

.lightBulb svg {
    width:30vw;
    height: 30vh;
    color: blue;
    display: flex;
    justify-content: center
}


.lightBulb svg {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
}

.lightBulb svg {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.lightBulb:nth-child(1) svg {
  color: #;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.lightBulb:nth-child(1) svg:hover {
  color: #3399ff;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.lightBulb:hover {
  color: #ffffff;
}


/*.lightBulb svg:onclick {*/
/*    color: yellow;*/
/*}*/

